# Ignore virtual env
venv/

# Python caches
__pycache__/
*.py[cod]
*.so

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Model weights
*.pt
*.pth

# Mac system files
.DS_Store
/small_scope copy.pdf